<nav>
    <div class="cont">
        <h1>CV Oluşturma Sistemi</h1>
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/profil">Profil</a></li>
            <li><a href="/auth/cikis">Çıkış Yap</a></li>
        </ul>
    </div>
</nav>